$colors: (
    "c1": #f6f9ff,
    "c2": #bec2c8,
    "c3": #c2ccba,
    "c4": #5e675a,
    "c5": #222,
);

@mixin primary-container {
    background-color: map-get($map: $colors, $key: "c3");
    border-radius: 15px;
    border: 4px solid map-get($map: $colors, $key: "c1");
    box-shadow: inset 2px 2px 15px 5px map-get($map: $colors, $key: "c4");
}

@mixin secondary-container {
    background-color: map-get($map: $colors, $key: "c4");
    border-radius: 15px;
    box-shadow: inset 2px 2px 15px 5px map-get($map: $colors, $key: "c4");
}
